
model_skeleton/ghost/master/yaya_variable.cfg
model_skeleton/ghost/master/profile/ghost.dat
model_skeleton/ghost/master/profile/ghost.dat.bak
model_skeleton/ghost/master/profile/var.txt
model_skeleton/shell/master/profile/shell.dat
model_skeleton/shell/master/profile/shell.dat.bak
